<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minha Carteira - Categorias</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Minha Carteira - Seu Aplicativo de controle Financeiro</h2>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" >
                <a href="/">Home</a></li>
            <li role="presentation">
                <a href="/listacategoria">Categorias - Listar</a></li>
  
          </ul>
        </nav>
      </div>
    </div>
    <h3 class="text-muted">Minha Carteira - Cadastrar nova Categoria</h3>
    <div>
        <form action="cadcategoria" method="POST">
            <table>
                <tr>
                    <th>Nome da Categoria</th>
                    <th>Tipo de Categoria</th>
                </tr>
                <tr>
                    <td>
                      <input type="text" name="NomeCategoria"/>
                    </td>
                    <td>
                      <!---
                      <input type="text" name="tipoCategoria"/>
                      --->
		                  <select name="tipoCategoria" id="tipoCategoria">
                        <option value="Receita">Entrada</option>
                        <option value="Debito">Débito</option>
                      </select>
                    </td>
                </tr>
            </table>
            <input type="submit" valie="enviar" />
        </form>
    </div>
  </body>
</html>


