<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minha Carteira - Extrato</title>
  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }
  </style>
  <body>
    <div class="container">
      <div class="header">
        <h2>Minha Carteira - Seu Aplicativo de controle Financeiro</h2>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" >
              <a href="/">Home</a></li>
            <li role="presentation">
              <a href="/cadastrodebito">Debito - Cadastrar</a></li>
            <li role="presentation">
              <a href="/cadastroreceita">Receita - Cadastrar</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <h3 class="text-muted">Extrato</h3>
    <table style="width:100%">
      <tr style="background-color:powderblue">
        <th>Data</th>
        <th>Valor</th>
        <th>Conta</th>
        <th>Categoria</th>
        <th>Recorrente</th>
        <th>Efetuado</th>
        <th>Descrição</th>
      </tr>
      {% for item in datas %}
      <tr>
        <td>{{item[0]}}</td>
        <td>R$ {{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
