<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minha Carteira - Receitas</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Minha Carteira - Seu Aplicativo de controle Financeiro</h2>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">
              <a href="/">Home</a></li>
            <li role="presentation">
              <a href="/listabancos">Bancos - Listar</a></li>
            <li role="presentation">
              <a href="/cadastrobanco">Bancos - Cadastrar</a></li>
            <li role="presentation">
              <a href="/listacatreceita">Categorias - Listar</a></li>
            <li role="presentation">
              <a href="/cadastrocatreceita">Categoria - Cadastrar</a></li>
            <li role="presentation">
              <a href="/listareceita">Entrada - Listar</a></li>
            <li role="presentation">
              <a href="/cadastroreceita">Entrada - Cadastrar</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>

