<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minha Carteira - Receitas</title>
  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }
  </style>
  <body>
    <div class="container">
      <div class="header">
        <h2>Minha Carteira - Seu Aplicativo de controle Financeiro</h2>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">
              <a href="/">Home</a></li>
              <li role="presentation">
                <a href="/extrato">Extrato</a></li>
              <li role="presentation">
              <a href="/listabancos">Bancos - Listar</a></li>
            <li role="presentation">
              <a href="/cadastrobanco">Bancos - Cadastrar</a></li>
            <li role="presentation">
              <a href="/listacategoria">Categoria - Listar</a></li>
            <li role="presentation">
              <a href="/cadastrocategoria">Categoria - Cadastrar</a></li>
            <li role="presentation">
              <a href="/listareceita">Entrada - Listar</a></li>
            <li role="presentation">
              <a href="/cadastroreceita">Entrada - Cadastrar</a></li>
            <li role="presentation">
              <a href="/listadebito">Debito - Listar</a></li>
            <li role="presentation">
              <a href="/cadastrodebito">Debito - Cadastrar</a></li>
            </ul>
        </nav>
      </div>
    </div>
  </body>
</html>

