<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minha Carteira - Bancos</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Minha Carteira - Seu Aplicativo de controle Financeiro</h2>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" >
              <a href="/">Home</a></li>
            <li role="presentation">
              <a href="/cadastrobanco">Bancos - Cadastrar</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <h3 class="text-muted">Minha Carteira - Lista de Bancos</h3>
    <table>
      <tr>
        <th>Código do Banco</th>
        <th>Nome do Banco</th>
      </tr>
      {% for item in datas %}
      <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>

